<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Snake</title>
    <script src="/games/snake/assets/js/phaser.min.js"></script>
    <script src="/games/snake/assets/js/phaser-touch-control.js"></script>
    <script src="/games/snake/assets/js/menu.js"></script>
    <script src="/games/snake/assets/js/game.js"></script>
    <script src="/games/snake/assets/js/game_over.js"></script>
    <script src="/games/snake/assets/js/main.js"></script>
</head>
<body>

</body>
</html>